---
import { CircleCheck, Clock, type AstroComponent } from "@lucide/astro";
import Title from "./Title.astro";

interface Props {
    title: string;
    state: string;
    location: string;
    date: string;
    icon: string;
    href: string;
}

const { title, state, location, date, icon, href } = Astro.props;

const icons: Record<string, AstroComponent> = {
    CircleCheck,
    Clock,
};

const Icon = icons[icon];
---

<a
    href={href}
    class="bg-card p-4 rounded-2xl h-50 w-[65vw] shrink-0 flex flex-col gap-3"
>
    <Title as="h5">{title}</Title>
    <div class="flex gap-2 items-center">
        {
            Icon && (
                <Icon
                    stroke-width={1}
                    class={
                        icon === "CircleCheck"
                            ? "text-green-500"
                            : "text-red-500"
                    }
                />
            )
        }
        {state}
    </div>
    <div class="mt-auto grid text-medium">
        <span>{location}</span>
        <span>{date}</span>
    </div>
</a>
