---
import clsx from "clsx";

export interface Props {
    id?: string;
    name: string;
    label?: string;
    type:
        | "text"
        | "email"
        | "password"
        | "number"
        | "tel"
        | "url"
        | "date"
        | "time"
        | "datetime-local";
    variant?: "floating" | "standard";
    class?: string;
    disabled?: boolean;
    required?: boolean;
    placeholder?: string;
    isTextcenter?: boolean;
    inputmode?:
        | "none"
        | "text"
        | "decimal"
        | "numeric"
        | "tel"
        | "search"
        | "email"
        | "url";
}

const {
    id,
    name,
    label,
    type = "text",
    variant = "floating",
    class: className = "",
    disabled = false,
    required = false,
    placeholder = "",
    isTextcenter = false,
    inputmode = undefined,
} = Astro.props;

const inputId = id ?? name;
const isFloating = variant === "floating";

const isDate = type === "date";
const isTime = type === "time";
const isNative = isDate || isTime;
const inputType = isNative ? "text" : type;
---

{
    isFloating ? (
        <div class={clsx("c-input c-input_floating", className)}>
            <input
                id={inputId}
                name={name}
                type={inputType}
                placeholder={placeholder || (isNative ? label : "")}
                disabled={disabled}
                required={required}
                onfocus={isNative ? `this.type='${type}'` : undefined}
                onblur={
                    isNative ? "if(!this.value) this.type='text'" : undefined
                }
                {...(inputmode ? { inputmode } : {})}
                class={clsx(
                    "c-input__input c-input__input_floating peer",
                    isTextcenter && "text-center",
                )}
            />
            {label && (
                <label
                    for={inputId}
                    class="c-input__label c-input__label_floating"
                >
                    {label}
                </label>
            )}
        </div>
    ) : (
        <div class={clsx("c-input", className)}>
            <input
                id={inputId}
                name={name}
                type={inputType}
                disabled={disabled}
                required={required}
                onfocus={isNative ? `this.type='${type}'` : undefined}
                onblur={
                    isNative ? "if(!this.value) this.type='text'" : undefined
                }
                class={clsx("c-input__input", isTextcenter && "text-center")}
                placeholder={placeholder || (isNative ? label : "")}
                {...(inputmode ? { inputmode } : {})}
            />
        </div>
    )
}
